<div class="container">
    <div class="mt-5">
        <h4 class="text-secondary">Search Mentor</h4>
        <div class="card bg-light">

            <div class="card-body">

                <form #mentorForm="ngForm" (ngSubmit)="getAll(mentorForm.value,this.type)">
                    <div class="row mb-3">
                        <div class="col-sm-6 position-relative">
                            <label for="sub" class="form-label">Subject</label>
                            <input type="text" placeholder="Enter subject you learn " class="form-control" id="sub"
                                value="" required ngModel name="subject">
                        </div>
                        <div class="col-sm-6 position-relative">
                            <label for="area" class="form-label">Area</label>
                            <input type="text" placeholder="Enter the area where you live" class="form-control"
                                id="area" value="" required ngModel name="area">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-6 position-relative">
                            <label for="city" class="form-label">City</label>
                            <input type="text" placeholder="Enter your city " class="form-control" id="city" value=""
                                required ngModel name="city">
                        </div>
                        <div class="col-sm-6 position-relative">
                            <label for="provi" class="form-label">Provinence</label>
                            <input type="text" placeholder="Enter the Provinence " class="form-control" id="provi"
                                value="" required ngModel name="Provinence">
                        </div>
                    </div>
                    <div class="mb-3">
                        <input class="btn btn-primary" type="submit" value="Search">
                    </div>

                </form>

            </div>
        </div>
    </div>

    <div *ngFor="let item of responseObj">

        <div class="mt-5" (click)="navigateToProfile(item)">


            <div class="card bg-light mb-3">

                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-2 d-flex align-items-center">
                            <div class="">
                                <div class="">
                                    <img src="{{this.url+item.image}}" alt=".."
                                        style="height: 150px; width: 140px; object-fit: cover; border: solid; border-radius: 5px; border-color: gainsboro; border-width: 2px; " />

                                </div>

                            </div>
                        </div>
                        <div class="col-sm-10">

                            <div class="col">
                                <h3 style="font-weight: 500;">{{responseObj?.name}}</h3>
                                <p><i class="bi bi-mortarboard-fill" style="margin-right: 7px;"></i>Qualification:
                                    {{item?.levelOfEducation}} </p>
                                <p><i class="bi bi-book-fill" style="margin-right: 7px;"></i>Subjects:
                                    <span *ngFor="let subList of item?.subjectDtos; let i=index">
                                        <ng-container *ngIf="i===0 || i===1 || i===2">{{subList.subjectName}}
                                            <ng-container *ngIf="i===0 || i===1">, </ng-container>

                                        </ng-container>
                                        <ng-container *ngIf="i===item?.subjectDtos.length -1">......</ng-container>
                                    </span>
                                </p>
                                <p><i class="bi bi-geo-alt-fill" style="margin-right: 7px;"></i>Area:
                                    {{item.addressDto.area}}</p>
                                <div class="mt-2 mx-2 d-flex justify-content-start">
                                    <i class="bi bi-star-fill" style="color: orange;"></i>
                                    <p class="mx-1">(5/5)</p>
                                </div>
                                <div class="d-flex justify-content-end align-items-end">
                                    <button class="btn btn-primary mt-5" (click)="navigateToChat(item)">Chat Now</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


</div>

<div *ngIf="responseObj.length<1 " style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 60vh;"  class="bg-light my-5 container ">
    
        <h1 style="font-weight: bold;">NOT FOUND</h1>
        <h3>We couldn't find any user matching your search.</h3>
        <button style="border-radius: 5px; " (click)="backToList(mentorForm,this.type)">Back To List</button>
</div>
