<div id="overlay">
  <div class="spinner-grow spinner-grow-xl mr-2 " role="status" style="color: #8f08f6!important;">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow spinner-grow-xl mr-2 " role="status" style="color: #8f08f6!important;">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow spinner-grow-xl mr-2 " role="status" style="color: #8f08f6!important;">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow spinner-grow-xl mr-2 " role="status" style="color: #8f08f6!important;">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow spinner-grow-xl mr-2 " role="status" style="color: #8f08f6!important;">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow spinner-grow-xl mr-2 " role="status" style="color: #8f08f6!important;">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow spinner-grow-xl mr-2 " role="status" style="color: #8f08f6!important;">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow spinner-grow-xl mr-2" role="status" style="color: #8f08f6!important;">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>