<div class="container-fluid p-0">
    <img src="../../../../assets/Images/Join us as a mentor.gif" alt=".." class="poster" />
    <div class="container mb-5">
        <div class="card mt-5 bg-light">
            <div class="card-body">
                <h2 class="text-secondary">Mentor Registeration Form</h2>
                <p class="text-secondary container">Please complete the below form for registration. With registration,
                    you will will be able to find best suitable teacher, get homework Support and much more.
                    Fields marked as * are mandatory.</p>
            </div>
        </div>
        <form class="was-validated" #mentorForm="ngForm" (ngSubmit)="getMentorFormData(mentorForm.value)">
            <div class="mt-5">
                <h4 class="text-secondary">Personal Information</h4>
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-sm-6 position-relative">
                                <label for="validationTooltip01" class="form-label">Name</label>
                                <input type="text" placeholder="Enter your name" class="form-control"
                                    id="validationTooltip01" value="" required ngModel name="name">
                            </div>
                            <div class="col-sm-6 position-relative">
                                <label for="validationTooltip01" class="form-label">Email</label>
                                <input type="email" placeholder="Enter your email address" class="form-control"
                                    id="validationTooltip01" value="" required ngModel name="email">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6 position-relative">
                                <label for="validationTooltip01" class="form-label">Mobile Number</label>
                                <input type="text" placeholder="Enter your contact number" class="form-control"
                                    id="validationTooltip01" value="" required ngModel name="mobileNumber">
                            </div>
                            <div class="col-sm-6 position-relative">
                                <label for="validationTooltip01" class="form-label">CNIC</label>
                                <input type="number" placeholder="Enter your CNIC number " class="form-control"
                                    id="validationTooltip01" value="" required ngModel name="cnic">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6 position-relative">
                                <label for="validationTooltip01" class="form-label">Password</label>
                                <input type="text" placeholder="Password" class="form-control" id="validationTooltip01"
                                    value="" required ngModel name="password">
                            </div>
                            <div class="col-sm-6 position-relative">
                                <label for="validationTooltip01" class="form-label">Confirm Password</label>
                                <input type="text" placeholder="Confirm password " class="form-control"
                                    id="validationTooltip01" value="" required ngModel name="confirmPass" >
                            </div>
                        </div>
                      
                        
                      
                        <div class="form-check mb-3">
                            <input type="radio" [(ngModel)]="selectedGender" [value]="'Male'" class="form-check-input" id="validationFormCheck2" name="gender" required>
                            <label class="form-check-label" for="validationFormCheck2">Male</label>
                          </div>
                          <div class="form-check mb-3">
                            <input type="radio" [(ngModel)]="selectedGender" [value]="'Female'" class="form-check-input" id="validationFormCheck3" name="gender" required>
                            <label class="form-check-label" for="validationFormCheck3">Female</label>
                           
                          </div>
                          <div class="form-check mb-3">
                            <input type="radio" [(ngModel)]="selectedGender" [value]="'Others'" class="form-check-input" id="validationFormCheck4" name="gender" required>
                            <label class="form-check-label" for="validationFormCheck4">Others</label>
                           
                          </div>
                         
                        <div class="row" style="margin-bottom:15px;">
                            <div class="col-md-3">
                              <input type="file" #image placeholder="Choose file" (change)="uploadFile(image.files,'Images')" style="display:none;">
                              <button type="button" class="btn btn-success" (click)="image.click()">Upload Profile</button>
                            </div>
                            <div class="col-md-4">
                              <span class="upload" *ngIf="Commons.IProgress > 0">
                                {{Commons.IProgress}}%
                              </span>
                              <span class="upload" *ngIf="Commons.IMessage">
                                {{Commons.IMessage}}
                              </span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <img [src]='Commons.ImageSrc' alt="..." class="uimg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <h4 class="text-secondary">Qualification</h4>
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-sm-6 position-relative">
                                <label for="validationTooltip01" class="form-label">Insitute Name</label>
                                <input type="text" placeholder="Enter your institute name" class="form-control"
                                    id="validationTooltip01" value="" required ngModel name="institute">
                            </div>
                            <div class="col-sm-6 position-relative">
                                <label for="validationTooltip01" class="form-label">Level Of Education</label>
                                <input type="text" placeholder="Enter Level Of Education" class="form-control"
                                    id="validationTooltip01" value="" required ngModel name="levelOfEducation">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6 position-relative">
                                <label for="staticEmail" class="form-label">From</label>
                                <input type="date" class="form-control inputbackground" id="inputEmail4"
                                    placeholder="User name" ngModel name="QFrom"/>
                            </div>
                            <div class="col-sm-6 position-relative">
                                <label for="staticEmail" class="form-label">To</label>
                                <input type="date" class="form-control inputbackground" id="inputEmail4"
                                    placeholder="User name" ngModel name="QTo"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 7215 -->
            <div class="mt-5">
                <h4 class="text-secondary">Experience</h4>
                <div class="card bg-light">

                    <div class="card-body">

                        <div class="row mb-3">
                            <div class="col-sm-6 position-relative">
                                <label for="validationTooltip01" class="form-label">Organization Name</label>
                                <input type="text" placeholder="Enter your current name you work" class="form-control"
                                    id="validationTooltip01" value="" required ngModel name="OrganizationName">
                            </div>
                            <div class="col-sm-6 position-relative">
                                <label for="validationTooltip01" class="form-label">Role</label>
                                <input type="text" placeholder="Enter your current role in organization"
                                    class="form-control" id="validationTooltip01" value="" required ngModel name="role">
                            </div>

                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6 position-relative">
                                <label for="staticEmail" class="form-label">From</label>
                                <input type="date" class="form-control inputbackground" id="inputEmail4"
                                    placeholder="User name" ngModel name="EFrom"/>
                            </div>
                            <div class="col-sm-6 position-relative">
                                <label for="staticEmail" class="form-label">To</label>
                                <input type="date" class="form-control inputbackground" id="inputEmail4"
                                    placeholder="User name" ngModel name="ETo"/>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <h4 class="text-secondary">Subject You Teach</h4>
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-sm-9 position-relative m-auto">
                                <label for="validationTooltip01" class="form-label">Subject</label>
                                <div class="d-flex">
                                    <input type="text" #subject  placeholder="Enter your current name you work"
                                        class="form-control col-sm-9" id="subjects" value="" required ngModel name="SubjectYouTeach">
                                    <div class="col-sm-1 d-flex justify-content-center">
                                        <img src="../../../../assets/Images/plus.png" alt="..." class="plus" (click)="getValue(subject.value)" />
                                    </div>
                                </div>
                                <div class="col mt-5" *ngIf="subArr">
                                    <ul class="container">
                                        <li *ngFor="let data of subArr;let indexOfelement =index " class="card-body mt-2 subjectList">    
                                            <div class="d-flex justify-content-between">                                        
                                            {{data}}
                                            
                                            <i *ngIf="subArr" class="bi bi-x-octagon-fill" (click)="delValue(indexOfelement)"></i>
                                        </div>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <h4 class="text-secondary">Demo Video</h4>
                <div class="card bg-light">

                    <div class="container mt-5">
                        <div class="row" style="margin-bottom:15px;">
                            <div class="col-md-3">
                              <input type="file" #video placeholder="Choose file" (change)="uploadFile(video.files,'Videos')" style="display:none;">
                              <button type="button" class="btn btn-success" (click)="video.click()">Upload Video</button>
                            </div>
                            <div class="col-md-4">
                              <span class="upload" *ngIf="Commons.VProgress > 0">
                                {{Commons.VProgress}}%
                              </span>
                              <span class="upload" *ngIf="Commons.VMessage">
                                {{Commons.VMessage}}
                              </span>
                            </div>
                          </div>
                        <div class="d-flex justify-content-center">
                            <video [src]="Commons.VideoSrc" controls></video>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary" type="submit">Register</button>
                        </div>
                    </div>
                </div>


            </div>
        </form>
    </div>

</div>