.plus{
    height: 25px; width: 25px; margin-top: auto; margin-bottom: auto;
    &:hover{
        cursor: grab;
    }
}
.subjectList{
    list-style: none;
    background-color: #5b3473;
    color: white;
    border-radius: 7px;
}