<div class="container-fluid bg-light">
    <div class="d-flex justify-content-center">
      <h3 class="mt-5">Benefits Of Our Service</h3>  
    </div>
    
    <hr style="width: 10vw; color: #8918cf; height: 3px; margin-left: auto; margin-right: auto; border-width: 20px;">
    
    <div class="container my-5">
      <div class="row justify-content-between">
      <div class="col-sm-5 mb-5">
        <div class="card benefitddiv">
          <div class="card-body text-left mx-5">
            <h5 class="card-title" style="font-weight: bold;">Students</h5>
            <p>Students can get the following benefits by using our service:</p>
          <ul>
            <li><i class="bi bi-people-fill"></i>Connect With Home Mentors</li>
            <li><i class="bi bi-clipboard2-minus-fill"></i>Hassle Free Process</li>
            <li><i class="bi bi-shield-fill-check"></i>Quality Guaranteed</li>
            <li><i class="bi bi-cash-coin"></i>No Service Charges</li>
          </ul>
            
          </div>
        </div>
      </div>
      <div class="col-sm-5 mb-5">
        <div class="card benefitddiv">
          <div class="card-body text-left mx-5">
            <h5 class="card-title" style="font-weight: bold;">Mentors</h5>
            <p class="card-text">Tutors will get the following benefits by using our service:</p>
            <ul>
              <li><i class="bi bi-people-fill"></i>Get Connected With Students</li>
              <li><i class="bi bi-person-circle"></i>Personalized Profiles</li>
              <li><i class="bi bi-clipboard2-minus-fill"></i>Hassle Free Process</li>
              <li><i class="bi bi-cash-coin"></i>Flexible Pricing</li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
    </div>