<!-- Login modal -->

<div>
    <div >
      <div class="modal-content">
        <div class="modal-header" style="background-color: #5b3473!important;">
          <h2 class="modal-title" style="color: white;" id="exampleModalToggleLabel">Login As{{modelTitle}} </h2>
          <button type="button" 
          class="btn-close btn btn-primary" style="color: white; background-color: #ffc000!important;" 
           (click)="closeModel()" aria-label="Close"></button>

                  </div>
        <div class="modal-body">
          <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <img src="../../../../assets/Images/graduated.png" style="width: 100px;" height="80px" class="nav-link active"
               id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true" (click)="changeTitle('s')"/>
            </li>
            <li class="nav-item" role="presentation">
              <img src="../../../../assets/Images/video.png" 
              style="width: 100; height: 80px; padding: -2;" class="nav-link" 
              id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" 
              type="button" role="tab" aria-controls="profile" aria-selected="false" (click)="changeTitle('m')"/>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <form class="mt-4 mx-4" #studentForm="ngForm" (ngSubmit)="getStudentFormData(studentForm.value)">
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form2Example1" class="form-control" [(ngModel)]="email" [ngClass]="{ 'invalid-input': isInvalidCredentials }" name="email" />
                  <label class="form-label" for="form2Example1">Email address</label>
                </div>
              
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="form2Example2" class="form-control" [(ngModel)]="pass" [ngClass]="{ 'invalid-input': isInvalidCredentials }" name="pass"/>
                  <label class="form-label" for="form2Example2">Password</label>
                </div>
                <div class="d-flex justify-content-center text-danger" *ngIf="isInvalidCredentials">Incorrect email and password</div>
              
                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
               
              
                  <div class="d-flex justify-content-end">
                    <!-- Simple link -->
                    <a href="#!">Forgot password?</a>
                  </div>
                </div>
              
                <!-- Submit button -->
                <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-block mb-4 px-5">Sign in</button>
              </div>
                <!-- Register buttons -->
                <div class="text-center">
                  <p>Not a member? <button class="reg" (click)="OpenRegisterationForm()">Register</button></p>
                  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>
              
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>
              
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>
              
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button>
                </div>
              </form>
            </div>

            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <form class="mt-4 mx-4" #mentorForm="ngForm" (ngSubmit)="getMentorFormData(mentorForm.value)">
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form2Example1" class="form-control" ngModel name="email"  [ngClass]="{ 'invalid-input': isInvalidCredentials }"/>
                  <label class="form-label" for="form2Example1">Email address</label>
                </div>
              
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="form2Example2" class="form-control" ngModel name="pass"  [ngClass]="{ 'invalid-input': isInvalidCredentials }"/>
                  <label class="form-label" for="form2Example2">Password</label>
                </div>
              
                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
               
              
                  <div class="d-flex justify-content-end">
                    <!-- Simple link -->
                    <a href="#!">Forgot password?</a>
                  </div>
                </div>
              
                <!-- Submit button -->
                <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-block mb-4 px-5">Sign in</button>
              </div>
                <!-- Register buttons -->
                <div class="text-center">
                  <p>Not a member?  <button class="reg" (click)="OpenRegisterationForm()">Register</button></p>
                  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>
              
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>
              
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>
              
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button>
                </div>
              </form>
            </div>
           
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  <!-- End Login Modal -->