<div class="container mt-5">
    <div class="d-flex justify-content-center">
      <h1>How it Works</h1>
    </div>
    <div class="d-flex justify-content-center">
    <hr style="width: 10vw; color: #8918cf; height: 3px; border-width: 20px;">
    </div>
      <p class="text-center">My Mentore is the ideal place for students to find a specialized tutor in the subject(s) they
         struggle with the most. We have qualified and experienced male & female home and online mentor for all the major
          subjects including Maths, English, Physics, Biology, and Chemistry for any grade/class or level including Matriculation,
           A/O levels, IGCSE, SATs, IELTS, and more. Whether in-person or online tutoring services are required, 
           finding the best suitable tutor is so simple:</p>
    
    <div class="row m-5">
      <div class="col-sm-4">
        <div class="card carddiv">
          <div class="card-body text-center">
            <h5 class="card-title" style="font-weight: bold;">Search Mentor</h5>
            <p class="card-text">Find the best suitable tutor for any subject according to your requirements.
               Simply go to the search mentor page, enter the subject, city, area and teaching mode and find a 
               list of relevant mentor profiles.</p>
            
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card carddiv">
          <div class="card-body text-center">
            <h5 class="card-title" style="font-weight: bold;">Hire A Mentor</h5>
            <p class="card-text">View mentor profile and hire a mentor who suits you best according to your requirements.
               Once you have made up your mind, just generate a hiring request and we will do the rest.
                We will connect you with a tutor according to your requirements.</p>
            
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card carddiv">
          <div class="card-body text-center">
            <h5 class="card-title" style="font-weight: bold;">Start Learning</h5>
            <p class="card-text">You can start learning instantly, and that too without any registration fee. 
              Or if you want us to help you in finding the best suitable tutor for you, simply generate a Tutor Request form </p>
          
          </div>
        </div>
      </div>
    </div>
  </div>