<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <img src="../assets/Video/slider.gif" class="d-block w-100" style="height: 80vh;" alt="...">
      <div class="carousel-item active">
        
        <div class="carousel-caption d-md-block">
          <div class="row" >
          <div class="col-sm-12 col-lg-4 mb-3">
            <button class="btn btn-light" style="width: 200px;color: #5b3473;font-weight: bold;">
              <!-- <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;">Searcg</i> -->
              <i class="bi bi-search">Search</i>
              <!-- <i class="fa-solid fa-magnifying-glass" style="color: #5b3473;"></i> -->
            </button>
          </div>
          <div class="col-sm-12 col-lg-4 mb-3">
            <button class="btn btn-light" style="width: 200px; color: #5b3473;font-weight: bold;">
              <i class="bi bi-person-fill">REGISTER AS TUTOR</i>
              </button>
          </div>
          <div class="col-sm-12 col-lg-4 mb-3">
            <button class="btn btn-light" style="width: 220px; color: #5b3473; font-weight: bold;" >
              <i class="bi bi-person-fill"></i>
              <i>REGISTER AS STUDENT</i></button>
          </div>
        </div>
        </div>
      </div>
      <div class="carousel-item">
       
        <div class="carousel-caption d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
      
        <div class="carousel-caption d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>