<div class="container-fluid text-light" style="background-color: #5b3473;" >
    <div class="d-flex justify-content-center">
      <h1 class="my-5">Popular Subjects</h1>
    </div>
   
   <ul class="popularsubjects">
    <li  class="col-sm-2 justify-content-center p-0">
      <a href="">
        <img src="../assets/Images/PopularSubjects/atom.png"/>
        <span>Physics</span>
  
    </a>
  </li>
  <li  class="col-sm-2 justify-content-center p-0">
    <a href="">
      <img src="../assets/Images/PopularSubjects/chemistry.png"/>
      <span>Chemistry</span>
  
  </a>
  </li>
  <li  class="col-sm-2 justify-content-center p-0">
    <a href="">
      <img src="../assets/Images/PopularSubjects/dna.png"/>
      <span>Biology</span>
  
  </a>
  </li>
  <li class="col-sm-2 justify-content-center p-0">
    <a href="" >
      <img src="../assets/Images/PopularSubjects/musical-note.png"/>
      <span>Music</span>
  
  </a>
  </li>
  <li  class="col-sm-2 justify-content-center p-0">
    <a href="" >
      <img src="../assets/Images/PopularSubjects/web-programming.png"/>
      <span>programming</span>
  
  </a>
  </li>
  <li  class="col-sm-2 justify-content-center p-0">
    <a href="">
      <img src="../assets/Images/PopularSubjects/quran.png"/>
      <span>Quran</span>
  
  </a>
  </li>
   </ul>
  
  </div>